.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a1acc2;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #050d0f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
text-align: center;
padding: 10px;
position: fixed;
bottom: 0;
width: 100%;
background-color: black;
color: blanchedalmond;
}

.example-container{
  grid-columns:      12;
  grid-area: auto;

}

/* Profile container styles */
.perfil-container {
  width: 300px;
  height: 150px;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/* Photo styles */
.foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

/* Information section styles */
.info {
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
}

/* Heading styles within the information section */
.info h3 {
  margin: 0;
}

/* Subheading styles within the information section */
.info h4 {
  margin: 0;
}
